{% extends "goober_web.html" %}

{% block content %}

<div class='home-box'>
    <header class="home-header">
        <img src='../static/img/goobers_animate/lizardman_walk1.gif'>
        <img src='../static/img/goobers_animate/turt_walk1.gif'>
        <img src='../static/img/goobers_animate/lion_walk1.gif'>
        <img src='../static/img/goobers_animate/monk_walk1.gif'>
        <p>Welcome to the Goober Web!</p>
        <img src='../static/img/goobers_animate/monke_walk1.gif'>
        <img src='../static/img/goobers_animate/flow_walk1.gif'>
        <img src='../static/img/goobers_animate/cyclops_walk1.gif'>
        <img src='../static/img/goobers_animate/crabman_walk1.gif'>
    </header>

    <div class='article'>
        <article class="mission">
            <p class='article-title'>The Mission</p>
            <p class='article-content'>
                The goal of the Goober Web is to provide direct access to speedrun leaderboards for Super Goober World, as well as a download page for the game. Many games lend themselves to speedruns, and Super Goober World is no exception. Simply create an account in the top right, and you will be able to send your data to the goober web while playing the game. Then, login to the Goober Web to view your own stats for each level, as well as the leaderboards for 3 different categories!
            </p>
        </article>
        <img src='../static/img/goobers_animate/crab_run.gif' class='home-animations'>
    </div>
    <div class='article'>
        <img src='../static/img/goobers_animate/chase_crab.gif' class='home-animations'>
        <article class="mission">
            <p class='article-title'>The World of Goobers</p>
            <p class='article-content'>
                Conflict rages in the Goober World. The veggie folk have sent their veggie captains to retrieve the Full Breakfast Ingredients from the whacky goobers, but the goobers won't go down without a fight! In Super Goober World you take control of Captain Carrot, as he battles his way through the Goober Lands in search of the illusive celestial garlic. Collect bacon, and find the void egg hidden on each level!
            </p>
        </article>
    </div>
    <div class='home-footer'></div>
</div>

{% endblock %}